<h2 class="ui center aligned icon header">
  <i class="circular orange signup icon"></i>
  Sign Up
</h2>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <%= form_for(@user,:html => {:class => "ui large form", :role => "form"}, :url => users_path, :method => :post) do |f|%>
      <div class="ui stacked segment">
        <div class="field">
          <!--<label class = "ui left">Username</label>-->
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field(:username,:placeholder => "User Name" )%>
          </div>
        </div>
        <div class="field">
          <!--<label>password</label>-->
          <div class="ui left icon input">
            <i class = "lock icon"></i>
            <%= f.password_field(:password,:placeholder => "password")%>
          </div>
        </div>
        <div class="field">
          <!--<label>password</label>-->
          <div class="ui left icon input">
            <i class = "lock icon"></i>
            <%= f.password_field(:confirm_password,:placeholder => "Confirm Password")%>
          </div>
        </div>
        <%= f.submit("Sign Up and Log in",:class => "ui fluid large orange submit button")%>
      </div>
      
      
    <% end %>
  </div>
</div>